.field {
    margin: 24px 0;
    font-family: "Poppins";

    label {
        display: block;
        margin-bottom: 8px;
        font-size: 24px;
    }

    input {
        background-color: #FFF;
        box-shadow: 0px 7px 20px 5px rgba(85, 50, 138, 0.5);
        width: 100%;
        border: none;
        font-size: 24px;
        padding: 24px;
        box-sizing: border-box;
    }
}

.fieldColor {
    input {
        height: 75px;
        padding: 14px 24px;
    }       
}